.Login {
    margin: auto;
    padding: 10px 0;
    border: 10px solid #ffffff;
}

.Login input {
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.Login button {
    background-color: #05b574;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 75%;
}

label {
    display: block;
}

button:hover {
    opacity: 0.8;
}

button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}